{
"bootstrap": true,
"server": true,
"log_level": "DEBUG",
"enable_syslog": true,
"datacenter": "dc1",
"addresses" : {
"http": "0.0.0.0"
},
"bind_addr": "10.0.0.86",
"node_name": "node-1",
"data_dir": "/var/consul",
"encrypt": "nHF8dKJpTsEkOerslEAaz5EXQq8+3ACaahxQ2AoJCP0=",
"ui": true
}
